.main {
  margin: 60px auto;
  text-align: left;
  position: relative;
}

.main-header {
  margin-bottom: 20px;
  max-width: 54rem;
}

.main-header h1 {
  font-family: "Lato", "sans-serif";
  font-weight: 600;
  font-size: 2.25rem;
  letter-spacing: 0.25%;
  color: #0f61ef;
  margin-bottom: 0.75rem;
}

.main::before {
  content: "";
  width: 0.875rem;
  height: 1.25rem;
  background-color: #f4632a;
  border-radius: 2px;
  position: absolute;
  top: -1px;
  left: -4px;
  z-index: -1;
}

.main-header .breadcrump {
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  letter-spacing: 0.15%;
  color: #9c9c9c;
  margin-bottom: 0.75rem;
}

.main-header p {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.15%;
  line-height: 1.3rem;
  color: #545454;
}

/*--------DASHBOARD--------*/

.dashboard {
  padding: 1.875rem;
  background-color: #fff;
  border: 2px solid #c9d2dd;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
}

.form-actions,
.form-interacts {
  display: flex;
  justify-content: space-between;
}

.search::placeholder,
.placeholder-select,
.mounth-options,
.year-options,
.download-options,
.export,
.submit p {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.15%;
  color: #64799c;
}
.search {
  width: 14.25rem;
  height: 2.5rem;
  background-color: #c9d2dd;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  margin-right: 0.975rem;
  padding: 10px;
}

.search:focus {
  outline: 2px solid #0f61ef;
}

.select {
  position: relative;
}

.placeholder-select {
  display: flex;
  align-items: center;
  background-color: #c9d2dd;
  padding: 13px;
  height: 2.5rem;
  width: 9rem;
  box-sizing: border-box;
  border-radius: 3px;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 0.975rem;
}

.year .placeholder-select {
  width: 5rem;
}

.mounth .placeholder-select {
  width: 7rem;
}

.placeholder-select:hover {
  outline: 2px solid #0f61ef;
}

.select.active .placeholder-select:hover {
  outline: none;
}

.select.active .mounth-options,
.select.active .year-options,
.export.active .download-options {
  display: flex;
}

.mounth-options,
.year-options,
.download-options,
.modality-options,
.situation-options {
  display: none;
  align-items: left;
  flex-direction: column;
  background-color: #c9d2dd;
  padding: 13px;
  width: 7rem;
  box-sizing: border-box;
  justify-content: space-between;
  cursor: pointer;
  position: absolute;
  top: 38px;
}
.year-options {
  width: 5rem;
}

[data-mounth],
[data-year] {
  padding: 0.475rem;
}

[data-mounth]:hover,
[data-year]:hover {
  color: #fff;
}

.export {
  display: flex;
  background-color: none;
  align-items: center;
  justify-content: center;
  border: 1px solid #8cb6ff;
  padding: 13px;
  height: 2.5rem;
  width: 8rem;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  gap: 6px;
  align-self: flex-end;
  position: relative;
}

.download-options {
  display: none;
  align-items: right;
  top: 38px;
  right: 0px;
  width: 7rem;
}

.download-options.active {
  display: flex;
}

.download-options::hover {
  background-color: #0f61ef;
  color: #fff;
}
.download-options div {
  padding: 12px;
}

/*--------------Dashboard Header----------------*/

.dashboard-info,
.dashboard-row {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 41% 13% 8% 8%;
  gap: 10%;
  max-width: 100%;
}

.dashboard-info,
.dashboard-row {
  font-family: "Lato", "sans-ferif";
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.15%;
  text-align: left;
  color: #3b485f;
  padding: 2.5rem 0 1.25rem 0;
}
.dashboard-row {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  padding: 0%;
  border-top: 2px solid #c9d2dd;
  padding: 20px 0 20px 0;
}

.dashboard-description-row-button.active .description img {
  transform: rotate(180deg);
}

.dashboard-title,
.dashboard-title-row {
  grid-column: 1 / span 1;
}

.dashboard-data,
.dashboard-data-row {
  grid-column: 2 / span 1;
}

.dashboard-download,
.dashboard-download-row {
  grid-column: 3 / span 1;
}

.dashboard-description,
.dashboard-description-row-button {
  text-align: right;
  grid-column: 4 / span 1;
}

.dashboard-description-row {
  display: none;
  color: #52565e;
  text-align: left;
  grid-column: 1 / span 2;
  margin: 10px 0;
}

.dashboard-description-row.active {
  display: block;
}

.download,
.description {
  position: relative;
  cursor: pointer;
}

.download {
  left: 30px;
}

.description {
  right: 30px;
}
